.App {
  text-align: center;
}
table {
  border:1px solid;
  margin:20px auto;
  border-collapse: collapse;
}
tr,td{
  border: 1px solid;
  width:100px;
  padding: 10px 0;
  box-sizing: border-box;
}
.filter select{
  width: 360px;
}
.creator{
  margin-top: 20px;
}
.creator input{
  width: 320px;
  margin-right: 5px;
}
.todoItem{
  margin-top: 10px;
}
#todo{
  width: 300px;
}